---
---

@import "normalize";
// @import "bourbon/bourbon";


$base: 20px;

$font_primary: 'Alegreya Sans', sans-serif;
$font_secondary: 'Abel', sans-serif;

$primary: #F37272;
$light: #F7F7F7;
$dark: #584E4A;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html,
body {
	font-size: $base;
}
body {
	font-family: $font_primary;
	font-weight: 300;
	background-color: $dark;
	color: $light;
}


h1, h2, h3 {
	font-family: $font_secondary;
}


.wrap {
	width: 90%;
	margin: 0 auto;
	padding: 0 2rem;
}

.header {
	position: relative;
	
}
.header_title {
	display: inline-block;
	padding: 2rem 0 2.5rem;
	border-top: .5rem solid $primary;
}
.title {
	margin: 0;
	font-size: 2rem;
}
.subtitle {
	margin: 0;
	font-family: $font_primary;
	font-weight: 300;
	font-size: 1rem;
	color: lighten($dark, 40%);
}