@custom-media --small (min-width: 480px);
@custom-media --medium (min-width: 768px);
@custom-media --large (min-width: 1280px);

:root {
  --codeBlockBackground: #27221cf0;
  --outsideBackground: #27221c;
  --markedText: #27221c20;
  --blockquoteBackground: #dfdfd9;
  --outsideText: #e6e6e0;
  --outsideLightText: #e6e6e099;
  --accent: #a03030;
  --accentText: #a03030;
  --contentText: #27221c;
  --contentBackground: #e6e6e0;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --markedText: #3f3930;
    --blockquoteBackground: #363129;
    --accentText: #f86060;
    --contentText: #e6e6e0;
    --contentBackground: #2e2922;
  }
}
