{% include header.html %}

<body class="inverse">

	<div class="wrapper">
		<header class="header">
			<div class="header_title">
				<h1 class="title">Front-end developer&#8217;s musings</h1>
				<h2 class="subtitle">by Marek Pietrzak</h2>
			</div>
			<!-- <nav class="nav">
				<li><a href="/about.html" class="nav_item" data-short="i"><span>About</span></a></li>
			</nav> -->
		</header>

		<main id="main" class="main">
			<article class="article">

				{{ content }}

			</article>
		</main>
	</div>

{% include footer.html %}